h1 {
    color: rgb(250, 239, 255);
    font-family: verdana, sans-serif;
}

h2 {
    font-family: verdana, sans-serif;
    font-style: bold;
}

p.sous-titre {
    color: rgb(250, 239, 255);
    font-family: verdana, sans-serif;
    font-style: italic;
    font-size: 21px;
}

p {
    color: rgb(250, 239, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
}

p.Onglet {
    color: rgb(250, 239, 255);
    font-family: arial, sans-serif;
    font-style: bold;
    font-size: 19px;
}

figcaption {
    color: rgb(250, 239, 255);
    font-family: Arial, sans-serif;
    font-style: italic, thin;
    font-size: 15px;
}

/* Les variables qui suivent s'appliquent à toutes les pages.*/

body.premierBackground {
    background-image: url(../images/background.png);
}

body.deuxiemeBackground {
    background-color: rgba(14, 0, 21, 1);
}



h1 {
    font-family: verdana, sans-serif;
    font-style: italic, bold;
    font-size: 32px;
}

h2 {
    font-family: verdana, sans-serif;
    font-style: bold;
    font-size: 28px;
}

h2.alignDroite {
    text-align: right;
}

h2.alignCentre {
    text-align: center;
}



p {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    opacity: 0.9;
}

p.Onglet {
    color: rgb(250, 239, 255);
    font-family: arial, sans-serif;
    font-style: bold;
    font-size: 19px;
}

figcaption {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: italic, thin;
}

/*Ce qui suit est spécifique à l'en tête*/

a.onglet {
    background-color: #1e0124;
    border: none;
    border-radius: 4px;
    color: rgb(250, 239, 255);
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    margin: 4px;
    opacity: 60%;
    transition: 0.3s;
}

a.onglet:hover {
    opacity: 5;
}

.header {
    padding: 30px;
    background-color: rgba(54, 3, 65, 0.84);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

/* Fin en-tête */
/*Ce qui suit est spécifique à la page d'accueil*/

div.titreQuestionAccueil {
    color: rgb(250, 239, 255);
    font-family: verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

.policeParagraphe {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    opacity: 0.9;
    color: rgb(250, 239, 255);
}

section.accueilPartieGauche {
    box-sizing: border-box;
    float: left;
    width: 60%;
    margin: 30px;
    padding: 40px;
}

article.interieurPartieGauche {
    margin: 40px;
    line-height: 2em;
}

aside.accueilPartieDroite {
    box-sizing: border-box;
    float: left;
    width: 34%;
    height: auto;
    margin: 10px;
    padding-top: 0;
}

div.couleurSectionDefinition {
    background: linear-gradient(180deg, rgba(185, 65, 204, 0.54) 0%, rgba(61, 6, 132, 0.54) 93.12%);
    padding: 20px;
    margin-top: 10px;
    line-height: 2em;
}

.centrerImageAccueil {
    text-align: center;
}

.gaucheImageAccueil {
    text-align: left;
}

img.borderAccueil {
    border: 2px solid white;
}

/*Fin Page Accueil */
/*Ce qui suit est spécifique à la page Historique*/

h1.titreHisto {
    color: rgb(250, 239, 255);
    font-family: verdana, sans-serif;
    text-align: center;
}

.centrerParHisto {
    margin: auto;
    width: 70%;
    padding: 10px;
}

p.sousTitreHisto {
    font-size: 21px;
    font-style: italic;
}

.delimiterPageHisto {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.tableauCouleurHisto {
    background: linear-gradient(180deg, rgba(185, 65, 204, 0.54) 0%, rgba(93, 19, 143, 0.54) 93.12%);
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2em;
}

.tableauCouleurHisto2 {
    background: linear-gradient(180deg, rgba(185, 65, 204, 0.54) 0%, rgba(61, 6, 132, 0.54) 93.12%);
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2em;
}

.pageHistoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageHistoContainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

video.pageHisto {
    margin-left: 2em;
}

iframe.pageHisto {
    margin-left: 2em;
    margin-right: 2em;
}

image.pageHisto {
    margin-left: 2em;
}

img.borderHisto {
    border: 2px solid white;
}

/* Fin page Historique */
/*Ce qui suit est specifique a la page Actualite*/

div.divisionPrincipale {
    width: 90%;
}

div.separateur {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.texte {
    width: 40%;
    line-height: 2em;
    padding-right: 15px;
    margin-left: 3em;
}

div.couleurDeSection {
    background: linear-gradient(180deg, rgba(185, 65, 204, 0.54) 0%, rgba(61, 6, 132, 0.54) 93.12%);
    padding: 20px 60px;
}

img.border {
    border: 2px solid white;
}

/* Fin page Actualité */
/* Ce qui suit est specifique a la page A propos */

div.SectionPageApropos {
    background: linear-gradient(180deg, rgba(185, 65, 204, 0.54) 0%, rgba(61, 6, 132, 0.54) 93.12%);
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.textePageApropos {
    line-height: 2.5em;
    text-align: justify;
}

.centrerTexte {
    text-align: center;
}

.centrerDiv {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.buttonActualite {
    background: linear-gradient(180deg, #5D2079 0%, rgba(110, 28, 149, 0.38) 100%);
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    color: rgb(250, 239, 255);
    margin-left: 0.5em;
    margin-bottom: 0.2em;
}

/* Fin page A propos */
/* Ce qui suit est specifique a la page de Contact */

input[type="text"].nom {
    background-color: rgba(121, 59, 134, 0.61);
    width: 70%;
    padding: 12px 20px;
    margin: 15px 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #d8aae3;
}

input.prenom {
    background-color: rgba(121, 59, 134, 0.61);
    width: 85%;
    padding: 12px 20px;
    margin: 15px 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #d8aae3;
    ;
}

input.courriel {
    background-color: rgba(121, 59, 134, 0.61);
    width: 85%;
    padding: 12px 20px;
    margin: 15px 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #d8aae3;
}

textarea.commentaire {
    background-color: rgba(121, 59, 134, 0.61);
    width: 85%;
    padding: 12px 20px;
    height: 250px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 15px 0px;
    font-style: italic;
    color: #d8aae3;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(250, 239, 255);
    display: block;
}

div.contactField {
    padding-left: 70px;
    padding-right: 40px;
    padding-top: 30px;
    height: auto;
    background: linear-gradient(180deg, rgba(185, 65, 204, 0.54) 0%, rgba(61, 6, 132, 0.54) 93.12%);
    border-radius: 4px;
    margin-bottom: 20px;
}

div.rightside {
    box-sizing: border-box;
    float: left;
    width: 30%;
    margin-top: 20%;
    margin-left: 10%;
}

.centrerContact {
    box-sizing: border-box;
    margin: auto;
    width: 80%;
    padding: 10px;
}

div.leftside {
    box-sizing: border-box;
    float: left;
    width: 60%;
}

div.contactinfo {
    width: 400px;
    height: auto;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(185, 65, 204, 0.54) 0%, rgba(61, 6, 132, 0.54) 93.12%);
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p.contact {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    padding: 8px;
}

p.titrecontact {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.buttonContact {
    background: linear-gradient(180deg, #5D2079 0%, rgba(110, 28, 149, 0.38) 100%);
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    color: rgb(250, 239, 255);
    margin-right: 70px;
    margin-top: 8px;
    margin-bottom: 20px;
}

::placeholder {
    color: #a9a9a9;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #a9a9a9;
    opacity: 1;
}

/* Fin page Contact */