
    
        
    
        
    
    h1
    {
        color: rgb(250,239,255);
        font-family: verdana, sans-serif;
        font-style: italic, bold;
        font-size: 36px;
        
    }
    h2
    {
        font-family: verdana, sans-serif;
        font-style: bold;
        font-size: 28px;
    }
    p
    {
        color: rgb(250,239,255);
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        
    }
    p.Onglet
    {
        color: rgb(250,239,255);
        font-family: arial, sans-serif ;
        font-style: bold;
        font-size: 19px;
    }
    figcaption
    {
        font-family:Arial, sans-serif;
        font-size:15px;
        font-style: italic,thin;
    }
    h2.right{
        text-align: right;
    }




